/*********************************************
*	GLOBAL
*********************************************/

body{
	background: url(../img/bg.png);
}

ul, li {
	list-style:none;
	padding:0;
<<<<<<< HEAD
	margin:0;	
}

*, *:before, *:after {
	box-sizing:  border-box !important;
=======
	margin:0;
>>>>>>> aab28bc09f4a688a6d28800e94d6ae3fb7be2fc3
}

/*********************************************
*	END GLOBAL
*********************************************/


/*********************************************
*	HOME PAGE
*********************************************/
.nav-bethere {
	background:#12A19A;
	color:#fff;
	overflow:hidden;
	height:50px;
	padding:0 10px;
	line-height:50px;
}

.nav-bethere ul {
	overflow:hidden;
}	

.nav-bethere ul li {
	float:left;
	color:red;
}

.nav-bethere ul li a {
	display:block;
	text-indent:9999;
	overflow:hidden;
	color:#fff;
	line-height:50px;
	margin:0 10px 0 0;
}

.nav-bethere ul li #logo{
	width:150px;
	height:50px;
	margin:0 30px 0 0;
	background:url("../img/LOGO_gris.png")no-repeat 0 center;
	background-size:contain;
}

.nav-bethere ul li #budget, .nav-bethere ul li #calendar,
.nav-bethere ul li #search, .nav-bethere ul li #settings {
	width:45px;
	height:30px;
	margin:10px 5px;
	line-height:50px;
	background:url("../img/ICON_budget.png")no-repeat 0 center;
	background-size:contain;
}

.nav-bethere ul li #calendar{
	width:45px;
	height:30px;
	line-height:50px;
	background:url("../img/ICON_calendar.png")no-repeat 0 center;
	background-size:contain;	
}

.nav-bethere ul li #search{
	width:45px;
	height:30px;
	line-height:50px;
	background:url("../img/ICON_search.png")no-repeat 0 center;
	background-size:contain;		
}
.nav-bethere ul li #settings {
	width:45px;
	height:30px;
	line-height:50px;
	background:url("../img/ICON_settings.png")no-repeat 0 center;
	background-size:contain;
}

.navbar-inverse .navbar-brand {
	color:#fff;
}

.navbar-inverse .navbar-nav.bethere>li>a {
	color:#fff;
}
/*********************************************
*	END HOME PAGE
*********************************************/

/*********************************************
*	GRID
*********************************************/

.row {
	margin-top: 2%;
}

.activity div{
	min-height: 200px;	
	width: 100%;
	height: 100%;
	padding: 2%;
	margin:4px 0 0 0;
}

.activity img{
	width: 100%;
	height: 100%;

}

.activity span {
	font-size:15px;
	color:#333;
	display:block;
	text-align:center;
}

.trash{
	position: absolute;
	width: 400px;
	height: 3800px;
	left: -399px;
	background-color: red;
}

/*********************************************
*	END GRID
*********************************************/

/*********************************************
*	CATEGORIES
*********************************************/

.music div{
	background-color: #94c129; /*verde*/
}

.dance div{
	background-color: #f8ea1b; /*amarillo*/
}

.teather div{
	background-color: #12a19a; /*celeste*/
}

.movie div{
	background-color: #f34200; /*naranja*/
}

/*********************************************
*	END CATEGORIAS
*********************************************/


/*********************************************
*	MEDIA QUERY IPHONE
*********************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.activity.left {
		padding-right:2px;

	}
	.activity.right{
		padding-left:2px; 
	}
}
/*********************************************
*	END MEDIA QUERY IPHONE
*********************************************/